.gVfEX {
    height: 100vh;
    width: 100%;
    background-color: rgb(42, 193, 188);
    overflow: hidden;
}
.gVfEX .kGAnke {
    position: relative;
    width: 85%;
    color: white;
    z-index: 3;
}
.gVfEX .gaYNvJ span {
    margin-top: 20px;
    opacity: 0.6;
    white-space: pre-line;
}
.WabuC.bike {
    bottom: 16%;
    right: -16%;
}
.cBvFeG {
    object-fit: contain;
    display: flex;
    float: none;
    width: 100%;
    height: auto;
}
.bOsusn {
    position: absolute;
    bottom: 11%;
    right: -20%;
    width: 95%;
}

@media screen and (min-width: 1025px) {
    .gVfEX .item {
        width: 1024px;
        margin: 0px auto;
        padding: 165px 50px 0px;
    }
    .gVfEX .kGAnke {
        width: 500px;
    }
    .gVfEX .gaYNvJ {
        margin-top: 3%;
        font-size:16px;
    }
    .WabuC.bike {
        bottom: 22%;
        right: -28%;
    }
    .bOsusn{
        bottom: 21%;
        right: -20%;
        width: 700px;
    }
}